body
{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 40px
}

h1
{
    color: #007acc;
}
h2
{
    color: #87cfff;
}
h3
{
    color: #435c6d;
}
h4
{
    color: #f77d0b;
}
h5
{
    color: #20e406;
}
h6
{
    color: #333;
}

p
{
    font-size: 18px;
    line-height: 1.6;
}

img
{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.container
{
    max-width: 800px;
    margin: auto;
    background-color: #c95b5b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}